.ImageList {
    text-align: center;
  }
  
  .ImageList-header {
    background-color: #759fe3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top left;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
  }
  
